:root {
  font-size: calc(1vw + 1vh + .5vmin);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  background-color:black;
  color: white;
}
.container{
  max-width: 50%;
  padding-top: 100px;
  padding-left:35%;
  padding-right: 35%;
  overflow: hidden;
}
canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  padding: 0;


}
#circle{
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0;
  padding: 50% 0;
  border-radius: 50%;
  box-shadow: inset 0 -2px 4px rgba(0,0,0,0.5), inset 0 -2px 2px rgba(255,255,255,1);
  background-color:#83CCDD;
  color:white;
  border: solid 5px whitesmoke;
}
/* .weekly-container{
  display: flex;
  align-content: center;
  justify-content: center;
} */
/* .weekly{
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  height: 0;
  padding: 50% 0;
  box-shadow: inset 0 -2px 4px rgba(0,0,0,0.5), inset 0 -2px 2px rgba(255,255,255,1);
  background-color:#83CCDD;
  color:white;
  border: solid 5px whitesmoke;
}
#circle:hover{
  background-color:#90E0F3;
  cursor: pointer;
} */

/* Trying to work through some accesibility with :focus */
#circle:focus {
  border-color:#E1C340;
  outline:none;
}
#circle:hover{
  cursor: pointer;
  background-color:rgba(157, 194, 233, 0.817);
}
.city{
  margin-top: -30%;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-left:5px;
  padding-right: 5px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
}

#temperatureF{
  margin-top:-10px;
  align-content: center;
  justify-content: flex-start;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
}

#temperatureC{
  margin-top:-10px;
  align-content: center;
  justify-content: flex-start;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);

}

#description{
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

